@model Contact

@{
    ViewData["Title"] = "حذف مخاطب";
}

<div class="Container p-3">
    <h1 class="mt-4">
        حذف مخاطب
        &nbsp; <i class="bi bi-trash"></i>
    </h1>
    <hr />

    <div class="mt-5">
        <dl class="row">
            <dt class="col-sm-2">
                نام
            </dt>
            <dd class="col-sm-10">
                @Model.Name
            </dd>
            <dt class="col-sm-2">
                شماره تلفن
            </dt>
            <dd class="col-sm-10">
                @Model.PhoneNumber
            </dd>
            <dt class="col-sm-2">
                تاریخ تولد
            </dt>
            <dd class="col-sm-10">
                @Model.BirthDate?.ToString("yyyy/MM/dd")
            </dd>
            <dt class="col-sm-2">
                عکس
            </dt>
            <dd class="col-sm-10">
                @if (Model.Image != null)
                {
                    <img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Image.Data)" width="50" />
                }
            </dd>
        </dl>

        <div class="mt-4">
            <button id="deleteButton" class="btn btn-danger" style="padding-left: 3rem;padding-right: 3rem;text-align: unset;">
                حذف
                &nbsp; <i class="bi bi-trash"></i>
            </button>
        </div>

        <div class="mt-4">
            <a class="btn btn-success no-underline" asp-action="Index">
                بازگشت به لیست
                &nbsp; <i class="bi bi-person-lines-fill"></i>
            </a>
        </div>

        <form asp-action="Delete" id="deleteForm" method="post">
            <input type="hidden" asp-for="Id" />
            @Html.AntiForgeryToken()
        </form>
    </div>
</div>


@section Scripts {
    <script>
        $(document).ready(function () {
            $("#deleteButton").on("click", function () {
                Swal.fire({
                    title: 'آیا مطمئن هستید؟',
                    text: "این عمل قابل بازگشت نیست!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#d33',
                    cancelButtonColor: '#3085d6',
                    confirmButtonText: 'بله، حذف کن',
                    cancelButtonText: 'لغو'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $("#deleteForm").submit();
                    }
                });
            });
        });
    </script>
}